.tinderCards {
  height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;

  &__cardContainer {
    width: 350px;
    height: 450px;
    position: relative;
    z-index: 20;
  }
}

.card {
  width: 350px;
  height: 450px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;

  h3 {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    color: #fff;
  }
}